apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: react-app
spec:
  selector:
    app: backend
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 31000
  type: NodePort

